<header class='header'>
  <div class='search-bar-contents'>
    <%= link_to 'Shoppers', "/", class: 'shoppers-icon' %>
    <form class="search-form" action="#">
      <input class='input-box' placeholder='何をお探しですか？'>
      <button class="search-button">
        <%= image_tag "search.png", class:"search-icon" %>
      </button>
    </form>
  </div>
</header>