<%= render "shared/header" %>
<% @items.each do |item| %>
  <li class='list'>
    <%= link_to '/' do %>
      <%= image_tag item.image.variant(resize: '270x270') %>
      <%= item.item %>
    <% end %>
  </li>
<% end %>